<p>
  http-demo works!
</p>

<div class="container">
  <div class="jumbotron">
    <h2>All Posts</h2>
    <p>Click the button to get all of our posts</p>
    <button class="btn btn-info" (click)='getAllPosts()'>Get Posts</button>
  </div>

  <table class="table table-hover" *ngIf='posts.length > 0'>
    <tr>
      <th>Id</th>
      <th>Title</th>
    </tr>
    <tr *ngFor='let p of posts' routerLink='/posts/{{p.id}}'>
      <td> {{p.id}}</td>
      <td> {{p.title}}</td>
    </tr>
  </table>

</div>