<h2>Attribute Directives</h2>
<div class="container">

  <label>Enable Select</label>
  <input type="checkbox" [(ngModel)]='isChecked' name='isChecked'>
  <br>

  <label>Color Select: </label>
<select class="form-control" [(ngModel)]='selectedColor' name='selectedColor' [disabled]='!isChecked'>
  <option *ngFor="let c of colors" [value]='c'>{{c}}</option>
</select>

<label>Color Select: </label>
<select multiple class="form-control" (change)='updateFormat($event)' [disabled]='!isChecked'>
  <option *ngFor="let f of formats" [value]='f'>{{f}}</option>
</select>

<p [ngStyle]='{"color" : selectedColor}' [ngClass]='selectedFormats'>{{f}}{{selectedColor}}</p>

</div>