

<h2>Pipe Demo</h2>
<div class="container">

  <p>{{str}} => {{str | uppercase}}</p>
  <p>{{num}} => {{num | currency:'EUR'}}</p>
  <p>{{day}} => {{day | date:'MM/dd/yyyy hh:mm:ss'}}</p>

  <h4>Pipes can be used with string interpolation + structural directives</h4>
  <ol>
      <li *ngFor='let s of strArr'>{{s}}</li>
  </ol>
  <ol>
    <li *ngFor='let s of strArr'>{{ s | lowercase }}</li>
  </ol>
  
  <ul>
      <li *ngFor='let p of products'>{{ p | convertToSpaces }}</li>
  </ul>

  <ul>
      <li *ngFor='let p of products'>{{ p | convertToSpaces:'e' }}</li>
  </ul>

  <ul>
      <li *ngFor='let p of products'>{{ p | convertToSpaces | titlecase }}</li>
  </ul>

</div>